CHANGELOG.txt
COPYRIGHT.txt
INSTALL.mysql.txt
INSTALL.pgsql.txt
INSTALL.txt
LICENSE.txt
MAINTAINERS.txt
robots.txt
UPGRADE.txt
.settings
.project
.htaccess
so/sites/default/settings.php
so/sites/default/files/imagecache/
so/sites/default/files/css/
geo.sublime-*
NOP-sites/
OLD/
