/**
 * @file
 * Block Styling
 */


.sidebar div.block, .region-under-content div.block /* Block wrapper */ {
  /* margin-bottom: 1em; */
  width: 316px;
  height: 35.85em;
  float: left;
  overflow: hidden;
}

.region-under-content .block.even {
  float: left;
  margin-right: 14px;
}

.sidebar div.block .content, .region-under-content div.block .content {
  padding: 10px;  
  background-color: #fff;
}

.sidebar div.block {
  margin-bottom: 15px;
}

.sidebar div.block:last-child {
  margin-bottom: 0;
}

#footer div.block {
  position: relative;
  margin-bottom: 15px;
}
/*
 * ESTILS PERL AL BLOC DELS PROJECTES
 */
#block-views-projects-block_1 .views-field-title {
  padding: 5px 7px;
  background-color: #2bd0f4;
  border: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-transform: uppercase;
}

#block-views-projects-block_1 .views-field-teaser {
  margin-top: 3px;
  margin-bottom: 5px;
  padding: 10px 7px;
  background-color: #ebf6f9;
}

#block-views-projects-block_1 .views-field-teaser p:first-child {
  margin-top: 0;
}

#block-views-projects-block_1 .views-field-teaser p:last-child {
  margin-bottom: 0;
}

/*
 * ESTILS PER AL BLOC DEL MENU DE LA REGIÓ FOOTER
 */
#block-block-4 {
  padding: 35px 25px;
}

#block-block-4 div.transparent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2bd0f4;
  opacity:0.75;
  filter:alpha(opacity=75); /* For IE8 and earlier */
  z-index: -1;
}

#block-block-4 ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#block-block-4 ul li {
  float: left;
  padding: 0 18px;
}

#block-block-4 ul li:last-child {
  padding: 0 0 0 18px;
}

#block-block-4 ul li, #block-block-4 ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

#block-block-4 ul li:first-child {
  padding-right: 18px;
  padding-left: 0;
  border-right: 2px solid #000;
}

#block-block-4 ul li:first-child a {
  font-size: 1.4em;
  color: #000;
}

#block-block-4 ul li a:hover {
  color: #000;
  transition: color 0.6s;
  -moz-transition: color 0.6s; /* Firefox 4 */
  -webkit-transition: color 0.6s; /* Safari and Chrome */
  -o-transition: color 0.6s; /* Opera */
}

/*
 * ESTILS PER AL BLOC AMB LOGOS D'INSTITUCIONS A LA REGIÓ FOOTER
 */
#block-block-3 {
  padding: 15px 25px;
}

#block-block-3 div.transparent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #004;
  opacity:0.75;
  filter:alpha(opacity=75); /* For IE8 and earlier */
  z-index: -1;
}

#block-block-3 img {
  margin-right: 20px;
  vertical-align: middle;
}

#logo_ministeri {
  width: 200px;
}

#logo_CSI {
  width: 165px;
}

#logo_UTM {
  width: 70px;
}



.block.first /* The first block in the region */ {
}

.block.last /* The last block in the region */ {
}

.block.region-odd /* Zebra striping for each block in the region */ {
}

.block.region-even /* Zebra striping for each block in the region */ {
}

.block.odd /* Zebra striping independent of each region */ {
}

.block.even /* Zebra striping independent of each region */ {
}

.region-count-1 /* Incremental count for each block in the region */ {
}

.count-1 /* Incremental count independent of each region */ {
}

.block h2.title /* Block title */ {
}

.block .content /* Block's content wrapper */ {
}

#block-aggregator-category-1 /* Block for the latest news items in the first category */ {
}

#block-aggregator-feed-1 /* Block for the latest news items in the first feed */ {
}

#block-block-1 /* First administrator-defined block */ {
}

#block-blog-0 /* "Recent blog posts" block */ {
}

#block-book-0 /* "Book navigation" block for the current book's table of contents */ {
}

#block-comment-0 /* "Recent comments" block */ {
}

#block-forum-0 /* "Active forum topics" block */ {
}

#block-forum-1 /* "New forum topics" block */ {
}

#block-menu-primary-links /* "Primary links" block */ {
}

#block-menu-secondary-links /* "Secondary links" block */ {
}

#block-node-0 /* "Syndicate" block for primary RSS feed */ {
}

#block-poll-0 /* "Most recent poll" block */ {
}

#block-profile-0 /* "Author information" block for the profile of the page's author */ {
}

#block-search-0 /* "Search form" block */ {
}

#block-statistics-0 /* "Popular content" block */ {
}

#block-user-0 /* "User login form" block */ {
}

#block-user-1 /* "Navigation" block for Drupal navigation menu */ {
}

#block-user-2 /* "Who's new" block for a list of the newest users */ {
}

#block-user-3 /* "Who's online" block for a list of the online users */ {
}
