/* $Id: nice_menus_default.css,v 1.10 2010/10/09 16:58:04 add1sun Exp $ */
/*
  This is the default layout template for nice menus, and will provide
  a starting point for the look of your menus. To customize, it's
  recommended to create a custom CSS file using this file as a template,
  then configure the module to use your custom CSS file
  (this is done in the global settings tab of the theme administration.)

  See README.txt and the handbook page (http://drupal.org/node/185543)
  for more information on using the CSS.
*/

/******************************
 Global CSS for ALL menu types
******************************/
#block-nice_menus-2 {
  width: auto;
  height: auto;
  overflow: visible;
  font-size: 1.075em;
  //font-weight: bold;
}

#block-nice_menus-2 .content {
  padding: 0;
}

#block-nice_menus-2 .nice-menu a:link, .nice-menu a:visited, .nice-menu a:active {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.4s;
  -moz-transition: color 0.4s;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
}

#block-nice_menus-2 .nice-menu ul a:link, .nice-menu ul a:visited, .nice-menu ul a:active {
  color: #000;
  font-size: 1em;
  text-decoration: none;
  transition: color 0.4s;
  -moz-transition: color 0.4s;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
}

#block-nice_menus-2 ul.nice-menu,
#block-nice_menus-2 ul.nice-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#block-nice_menus-2 ul.nice-menu li {
  border-top: 0;
  float: left; /* LTR */
}

#block-nice_menus-2 ul.nice-menu a:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
  transition: color 0.4s, background-color 0.4s;
  -moz-transition: color 0.4s, background-color 0.4s;
  -webkit-transition: color 0.4s, background-color 0.4s;
  -o-transition: color 0.4s, background-color 0.4s;
}

#block-nice_menus-2 ul.nice-menu ul a {
  padding: 0.4em 0.2em 0.2em 0.2em;
  border-width: 0 1px;
  border-color: #ccc;
}

#block-nice_menus-2 ul.nice-menu ul li:last-child a {
  border-width: 0 1px 1px;
}

#block-nice_menus-2 ul.nice-menu a:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
  transition: color 0.4s, background-color 0.4s, border-color 0.4s;
  -moz-transition: color 0.4s, background-color 0.4s, border-color 0.4s;
  -webkit-transition: color 0.4s, background-color 0.4s, border-color 0.4s;
  -o-transition: color 0.4s, background-color 0.4s, border-color 0.4s;
}


#block-nice_menus-2 ul.nice-menu>li>a {
  position: relative;
  z-index: 6;
  height: 21px;
  padding-top: 7px;
  padding-bottom: 0;
  background-color: #2BD0F4;
  transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
}

#block-nice_menus-2 ul.nice-menu ul {
  visibility: hidden;
  top: 28px; /* to do: transform to em ? */
  left: -1px; /* LTR */
  border: 0;
  margin-right: 0; /* LTR */
  opacity: 0;
  transition: visibility 0.6s, opacity 0.6s;
  -moz-transition: visibility 0.6s, opacity 0.6s; /* Firefox 4 */
  -webkit-transition: visibility 0.6s, opacity 0.6s; /* Safari and Chrome */
  -o-transition: visibility 0.6s, opacity 0.6s; /* Opera */
  box-shadow: 0px 1px 18px #555;
}

#block-nice_menus-2 ul.nice-menu li:hover ul {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.6s, opacity 0.6s;
  -moz-transition: visibility 0.6s, opacity 0.6s; /* Firefox 4 */
  -webkit-transition: visibility 0.6s, opacity 0.6s; /* Safari and Chrome */
  -o-transition: visibility 0.6s, opacity 0.6s; /* Opera */
}

#block-nice_menus-2 ul.nice-menu-down {
  float: left; /* LTR */
  border: 0;
}

#block-nice_menus-2 ul.nice-menu-down>li {
  text-align: center;      
  height: 28px;  /* to do: transform to em ? */
}

#block-nice_menus-2 ul.nice-menu-down>li {
  width: 116px;
  background-color: #2BD0F4;
}

#block-nice_menus-2 ul.nice-menu-down>li:hover>a {
  background-color: #000;
  color: #fff;
}

/*
 * Different width for 2nd li
 */
#block-nice_menus-2 ul.nice-menu-down>li + li {
  width: 98px;
}

/*
 * Different width for 3rd li
 */
#block-nice_menus-2 ul.nice-menu-down>li + li + li {
  width: 112px;
}

/*
 * Different width for 4th li
 */
#block-nice_menus-2 ul.nice-menu-down>li + li + li + li {   
  width: 134px;
}

/*
 * Different width for 5th li
 */
#block-nice_menus-2 ul.nice-menu-down>li + li + li + li + li {   
  width: 80px;
}

/*
 * Different width for 6th li
 */
#block-nice_menus-2 ul.nice-menu-down>li + li + li + li + li + li {
  width: 68px;
}

/*
 * Different width for 7th li
 */
#block-nice_menus-2 ul.nice-menu-down>li + li + li + li + li + li + li {
  width: 110px;
}

#block-nice_menus-2 ul.nice-menu-down li li {
  width: 100%;
  clear: both;
  padding: 0;
  background-color: #fff;
  color: #2BD0F4;
}

#block-nice_menus-2 ul.nice-menu-down ul {
  left: 0; /* LTR */
}

#block-nice_menus-2 ul.nice-menu-down>li + li ul {
  width: 156px;
}

#block-nice_menus-2 ul.nice-menu-down>li + li + li ul {
  width: auto;
}

#block-nice_menus-2 ul.nice-menu-down li ul li ul {
  left: 12.5em; /* LTR */
  top: -1px;
}