body {
  color: #808285;
  //text-rendering: optimize-legibility;
}

/*
 * TIPOGRAFIES
 */
@font-face {
    font-family: 'DroidSansRegular';
    src: url('typos/DroidSans-webfont.eot');
    src: url('typos/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('typos/DroidSans-webfont.woff') format('woff'),
         url('typos/DroidSans-webfont.ttf') format('truetype'),
         url('typos/DroidSans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSansBold';
    src: url('typos/DroidSans-Bold-webfont.eot');
    src: url('typos/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('typos/DroidSans-Bold-webfont.woff') format('woff'),
         url('typos/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('typos/DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

div#site-name,
#block-nice_menus-2,
h1,
h2,
#footer-menu li:first-child a {
  font-family: 'LetterGotL-Reg', 'Terminal Dosis', Walkway, 'DejaVu Sans Condensed', 'DejaVu Sans', sans-serif;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset {
  font-family: 'DroidSansRegular', "Helvetica Neue", Verdana, Tahoma, "DejaVu Sans", sans-serif;
}

/*
 * TRACTAMENT DELS ENLLAÇOS
 */
a, a:link, a:visited, a:active {
    color: #f35200;
    text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.node_read_more a,
.front .openlayers-popup-name a,
.node-type-main-map .openlayers-popup-name a,
.node-type-zone .openlayers-popup-name a,
.node-type-survey .openlayers-popup-name a,
.node-type-line .openlayers-popup-name a,
.node-type-main-map .openlayers-popup-description .view-children ul a 
{
  padding-left: 13px;
  background: url("../images/read_more-bg.png") no-repeat left top;
}

/* READ MORE AMB CANTOS RODONNS */

#block-views-poseidon-block_1 .views-field-view-node,
.view-secondary-projects .views-field-view-node,
.view-poseidon .views-field-view-node
{
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 4px 12px;
  background-color: #f35200;
  border-radius: 8px;
}

#block-views-poseidon-block_1 .views-field-view-node a,
.view-secondary-projects .views-field-view-node a,
.view-poseidon .views-field-view-node a
{
  text-decoration: none;
  color: #fff;  
}
#block-views-poseidon-block_1 .views-field-view-node a:before,
.view-secondary-projects .views-field-view-node a:before,
.view-poseidon .views-field-view-node a:before,
.view-footer a:before, 
.read_m-border_rd:before
{
  content: "›";
  margin-right: 6px;
}

.view-footer {
  border-top: 1px solid #ccc;
  text-align: right;
}

a.read_m-border_rd {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: #f35200;
  border-radius: 8px;
  padding: 4px 12px;
  color: #fff;
  text-decoration: none;
}

/*
 * TRACTAMENT GENERAL PER ALS TÍTOLS
 */
h1, h2 {
    text-transform: uppercase;
}

h1, 
h1 a, 
h1 a:link, 
h1 a:visited, 
h1 a:active
h2, 
h2 a, 
h2 a:link, 
h2 a:visited, 
h2 a:active,
h3, 
h3 a, 
h3 a:link, 
h3 a:visited, 
h3 a:active {
    font-weight: normal;
    color: #2bd0f4;
    text-decoration: none;
}

/*
 * TÍTOLS DELS BLOCKS DE POSEIDON
 */
#block-views-poseidon-block_1 h2,
#content-area .node-type-project #project_extra_fields .extra-fields-header h2,
.project-preview-header h2
{
  font-size: 28px;
  line-height: 1em;
  letter-spacing: 0.2em;
  font-weight: normal;
  color: #fff;
}

#block-views-poseidon-block_1 h2 {
  height: 72px;
  padding: 18px 50px 0 68px;  
  background: url(../images/block-poseidon-h2-bg.png) right top no-repeat;
}

#content-area .node-type-project #project_extra_fields .extra-fields-header h2,
.project-preview-header {
  margin: 0;
  padding: 18px 20px 16px 68px;
}

#block-views-poseidon-block_1 h2:first-line,
#content-area .node-type-project #project_extra_fields .extra-fields-header h2:first-line,
.project-preview-header h2:first-line {
  font-weight: bold;
  letter-spacing: normal;
}

#block-views-poseidon-block_1 img.imagefield-field_project_logo,
.project-preview-header img,
#content-area .node-type-project #project_extra_fields .extra-fields-header img
{
  position: absolute;
  top: 16px;
  left: 12px;
}

.project-preview-header {
  position: relative;
  background: #606060; /* Old browsers */
  background: -moz-linear-gradient(top,  #606060 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606060), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #606060 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #606060 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #606060 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(top,  #606060 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  border-radius: 15px 0 0 0;
}

.project-preview-header h2 {
  width: 185px;
  margin: 0;
}

/*
 * ESTILS PER A FRONT
 */
.front #content {
  min-height: 35.85em;
}

.front #content .section {
  padding: 10px;
}

.front .node .content {
  padding-bottom: 4px;
  border-bottom: 1px solid #ccc;
}

.front .node .content h2.title {
  font-size: 2em;
}

.front .node .content p:last-child {
  margin-bottom: 0;
}

.front #content-area div.view-content {
  border: 0;
}

.front #content-area .views-row {
  border: 0;
  margin: 0;
  padding: 0;
}

.front .sidebar div.block.first {
  min-height: 35.85em;
}

/*
 * REGIÓ ENTRE EL CONTINGUT I EL FOOTER (REGION-UNDER-CONTENT)
 */
.region-under-content {
  width: 100%;
  margin-top: 15px;
}

.region-under-content .block {
  float: left;
  margin-right: 15px;
}

.region-under-content .block.last {
  margin-right: 0;
}

/*
 * ESTILS DE REGION-TOP I PER AL MENU D'ADMINISTRACIÓ
 */
.region-top {
  width: 100%;
  top: 0;
  font-size: 0.8em;
  z-index: 50;
}

.region-top .block {
  width: 100%;
  height: auto;
  overflow: visible;
}

/*
 * EL·LIMINACIÓ DEL MARGE DELS MENUS ALS BLOCS DE LES COLUMNES LATERALS (Ex: map menu)
 */
.sidebar .block ul, .sidebar .item-list ul {
    margin: 0;
}

/*
 * ESTILS PER A LA CAIXA DEL CERCADOR
 */
#search {
    width: 258px;
    background-color: #fff;
}

#edit-search-theme-form-1-wrapper {
  margin: 0;
  border: 0;
}

#edit-search-theme-form-1 {
  width: 200px;
  height: 26px;
  margin-top: 0;
  padding: 1px 0 1px 8px;
  border: 0;
  color: #f35200;
}

#search .form-submit {
  height: 28px;
  margin: 0;
  display: block;
  float: right;
  vertical-align: middle;
}

/*
 * ESTILS PER A LA PÀGINA DELS RESULTATS DE CERCA
 */
#search-form #edit-keys-wrapper {
  display: block;
  float: left;
  margin: 0;
}

#search-form #edit-keys {
  height: 21px;
  padding: 0 0 0 6px;
  border: 1px solid #d1d3d4;
  border-radius: 0;
  color: #F35200;
}

#search-form input.form-submit {
  height: 23px;
  vertical-align: middle;
}

.search-results {
  border-top: 1px solid #d1d3d4;
  clear: both;
}

div.search-result {
  margin-top: 1em;
  border-bottom: 1px solid #e6e7e8;
}

div.search-result dd {
  margin-top: 0.357em;
  margin-left: 0;
}


/*
 * ESTILS PER ALS TÍTOLS DE CONTENT
 */
#content h1 {
  margin-bottom: 20px;
  font-weight: bold;
}

.front .node .content h2.title a {
  font-weight: bold;
}

/*
 * SEISMIC OCEANOGRAPHY PAGE
 */
body.node-tipe-front-page #content {
  
}

.node-type-front-page.node img {
  width: 100% !important;
  height: auto !important;
}

/*
 * ESTILS PER A ALGUNS NODES O TIPUS DE NODE
 */
.page.node-type-front-page #content-area {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

p>.content-image {
  margin-bottom: -1em;
}

.content-image {
  width: 100% !important;
  height: auto !important;
  outline: 1px solid #ddd;
}

.content-image-description p {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #2bd0f4;
}

/*
 * ESTILS PER A LA PÀGINA AMB TOTS ELS PROJECTES
 */
#content-area .project-preview div.view-content {
  border-top: 0;
}

#content-area .project-preview .views-row {
  position: relative;
  background: #ebf6f9;
  border-bottom: 0;
  padding: 0;
  border-radius: 15px 0 0 0;
}

.project-preview .col-1, 
.project-preview .col-2, 
.project-preview .col-3 {
  float: left;
}

.project-preview .col-2, 
.project-preview .col-3 {
  width: 300px;
  margin-left: 15px;
  padding: 10px 0;
}

.project-preview .col-3 {
  margin-left: 25px;
}

.project-preview .col-1 .imagecache {
  margin-bottom: -5px;
}

.project-preview .field-label,
.secondary-projects label, .other-projects-page label {
  margin-right: 3px;
  color: #2bd0f4;
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
}

.project-preview div.field {
  margin-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;
}

.project-preview .field-acronym {
  text-transform: uppercase;
}

.project-preview .participants .field-item {
  margin: 6px 0;
}

.project-preview .participants .field-item:before {
  content: "- ";
}

.project-preview.secondary-projects .project-preview-header,
.project-preview.other-projects-page .project-preview-header {
  padding: 18px 12px;
}

#content-area .project-preview.secondary-projects .views-row,
#content-area .project-preview.other-projects-page .views-row 
{
  position: relative;
  min-height: 202px;
  padding-left: 278px;
  overflow: hidden;
}

.project-preview.secondary-projects .views-field-nothing,
.project-preview.other-projects-page .views-field-nothing {
  width: 278px;
  position: absolute;
  left: 0;
}

.views-field-field-project-participants-value .field-item {
  margin: 4px 0;
}

.views-field-field-project-participants-value .field-item:before {
  content: "- ";
}

#content-area .project-preview.other-projects {
  background: #ebf6f9;
  border-bottom: 0;
  border-radius: 15px 15px 0 0;
  float: left;
  width: 100%;
}

.other-projects .view-content {
  margin: 0 12px 12px;
  border-bottom: 1px solid #ccc;
}

.project-preview.other-projects .view-header {
  padding: 4px 12px;
  background: #606060; /* Old browsers */
  background: -moz-linear-gradient(top,  #606060 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606060), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #606060 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #606060 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #606060 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(top,  #606060 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  border-radius: 8px 8px 0 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.project-preview.other-projects .view-header p {
  margin: 0;
}

#content-area .project-preview.other-projects .views-row {
  width: 288px;
  float: left;
  margin: 12px 0 12px;
  padding-right: 15px;
}

.project-preview.other-projects-page .view-header {
  display: none;
}
/*
 * ESTILS PER AL CONTINGUT DELS PROJECTES
 */
.node-type-secondary-project #content {
  min-height: 50em;
}

#content-area .node-type-project .content {
  margin-left: 298px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

#content-area .node-type-project #project_extra_fields {
  width: 278px;
  position: absolute;
  float: left;
  background-color: #dbeff4;
}

#content-area .node-type-project #project_extra_fields .extra-fields-header {
  position: relative;
  background: #000 url(../images/white-square.png) no-repeat 215px top;
}

#content-area .node-type-project #project_extra_fields .extra-fields-content {
  padding: 10px;
}

#content-area .node-type-project #project_extra_fields .extra-fields-content .extra-field {
  margin: 5px 0 15px;
  padding-right: 5px;
}

#content-area .node-type-project #project_extra_fields .extra-fields-content .extra-field:last-child {
  margin-bottom: 5px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

#content-area .node-type-project #project_extra_fields .extra-fields-content .extra-field ul {
  margin: 5px 0;
  padding-left: 0;
  list-style-type: none;
}

#content-area .node-type-project #project_extra_fields .extra-fields-content .extra-field ul li:before {
  content: "- ";
}

#content-area .node-type-project #project_extra_fields .extra-fields-content .extra-field ul li {
  margin: 10px 0;
}

#content-area .node-type-project .field-label {
  margin-right: 3px;
  color: #2bd0f4;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: normal;
}

#content-area .node-type-project .project-task {
  margin-top: 1em;
  border-bottom: 1px solid #bbb;
}

#content-area .node-type-project h3 {
  color: #808285;
  font-size: 1em;
  font-weight: bold;
}

#content-area .node-type-project h3 span {
  color: #2bd0f4;
}

#content-area .node-type-project .field-field-project-body-participants div.project_participants_list {
  margin-right: 25px;
  width: 190px;
  float:left;
}

#content-area .node-type-project .field-field-project-body-participants div.project_participants_list:last-child {
  margin-right: 0;
}

#content-area .node-type-project .field-field-project-body-participants div.project_participants_list h3 {
  margin-bottom: 0;
}

#content-area .node-type-project .field-field-project-body-participants ul {
  width: 200px;
  min-height: 12.5em;
  margin: 0 0 1em;
  padding: 5px 0;
  list-style-type: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#content-area .node-type-project .field-field-project-body-participants ul li {
  margin: 0.4em 0;
}

/* PER ALS PROJECTES SECUNDARIS I ALTRES PROJECTES */
#content-area .node-type-secondary-project #project_extra_fields .extra-fields-header h2 {
  padding-left: 12px;
}

/* ESPECÍFIC PER A OCEANSEIS */
.node-type-secondary-project ol {
  padding: 0;
  list-style-position: inside;
}

.node-type-secondary-project ol li {
  margin: 10px 0;
}

/*
 * ESTILS PER A LES PÀGINES AMB MAPES 
 */
#map {
  width: 695px;
  float: left;
  margin-right: 20px;
  margin-bottom: 68px;
}

#map-menu {
  width: 220px;
  float: right;
  background-color: #ebf6f9;
  text-transform: uppercase;
}

#advert {
  float: right;
  margin-top: 4px;
}

#map-menu .content {
  font-size: 0.875em;
  padding: 14px 10px 10px;
  background: #ebf6f9;
}

#map-menu .menu_block_wrapper {
  padding-top: 6px;
  background: url(../images/sepr.png) repeat-x top;
}

#map-menu ul {
  margin: 0;
  padding: 0;
  clear: both;
  background: url(../images/sepr.png) repeat-x bottom;
}

#map-menu ul ul {
  padding: 0 0 0 20px;
}

#map-menu li {
  position: relative;
  clear: both;
  list-style: none;  
}

#map-menu div.map-menu-link {
  padding: 6px 0 8px;
  background: transparent url(../images/sepr.png) repeat-x bottom;
}

#map-menu li li li div.map-menu-link {
  background-image: none;
}

#map-menu li li li.theme-collapsed>div.map-menu-link {
  background-image: url(../images/sepr.png);
}

#map-menu li div.exp-col {
  width: 11px;
  height: 11px;
  position: absolute;
  top: 7px;
  right: 10px;
  border: 1px solid #000;
  cursor: pointer;
  background: url(../images/collapse.png) 50% 50% no-repeat;
}

#map-menu li.theme-collapsed div.exp-col {
  background: url(../images/expand.png) 50% 50% no-repeat;
}

#map-menu a {
  text-decoration: none;
}

#popup_close {
  width: 8px !important;
  height: 8px !important;
  background-image: url(../ol-images/close.png);
}

.openlayers-popup-description {
  margin-top: 10px;
}

/* SOBREESCRIVINT ESTILS EN LÍNIA D'OPENLAYERS */
.olControlPanZoomBar {
  width: 54px;
  height: 58px;
  background: url(../ol-images/nav-bg.png) no-repeat 0 4px;;
}

.olControlPanZoomBar>div:first-child {
  left: 18px !important;
}

.olControlPanZoomBar>div + div {
  left: 0 !important;
}

.olControlPanZoomBar>div + div + div {
  left: 36px !important;  
}

.olControlPanZoomBar>div + div + div + div {
  left: 18px !important;
}

.olControlPanZoomBar>div + div + div + div + div + div + div {
  left: 17px !important;
}

.olControlPanZoomBar>div + div + div + div + div + div + div + div {
  left: 18px !important;
}

/* ESTILS PER AL MAPA GENERAL */
.node-type-main-map #content-area .openlayers-popup-name {
  padding-bottom: 2px;
  border-bottom: 2px solid #d1d3d4;
}

.node-type-main-map #content-area .openlayers-popup-description .view-content, 
.node-type-main-map #content-area .openlayers-popup-description .views-row
{
  margin: 0.3em 0;
  border: 0;
  padding: 0;
}

.node-type-main-map .openlayers-popup-description .view-children ul {
  margin: 0.3em 0;
  padding: 0 0 0 0.8em;
  list-style-type: none;
}

/* ESTILS PER ALS MAPES DE ZONES, SURVEYS I LINES */
.front .openlayers-popup-description .col,
.node-type-zone .openlayers-popup-description .col,
.node-type-survey .openlayers-popup-description .col,
.node-type-line .openlayers-popup-description .col
{
  border-top: 1px solid #d1d3d4;
  float: left;
  margin-bottom: 18px;
}

.front .openlayers-popup-description .col-1,
.node-type-zone .openlayers-popup-description .col-1,
.node-type-survey .openlayers-popup-description .col-1,
.node-type-line .openlayers-popup-description .col-1
{
  margin-right: 20px;
}

.front .node-type-zone .openlayers-popup-description .col div.field,
.node-type-zone .openlayers-popup-description .col div.field,
.node-type-survey .openlayers-popup-description .col div.field,
.node-type-line .openlayers-popup-description .col div.field
{
  padding: 10px 0 6px;
  border-bottom: 1px solid #d1d3d4;
}

.front .openlayers-popup-description .col div.field span.field-label,
.node-type-zone .openlayers-popup-description .col div.field span.field-label,
.node-type-survey .openlayers-popup-description .col div.field span.field-label,
.node-type-line .openlayers-popup-description .col div.field span.field-label
{
  text-transform: uppercase;
  color: #2bd0f4;
  font-weight: normal;
}

.front .openlayers-popup-description div.links-to-profiles,
.node-type-zone .openlayers-popup-description div.links-to-profiles,
.node-type-survey .openlayers-popup-description div.links-to-profiles,
.node-type-line .openlayers-popup-description div.links-to-profiles
{
  clear: both;
}

.front .openlayers-popup-description div.links-to-profiles a.read_m-border_rd,
.node-type-zone .openlayers-popup-description div.links-to-profiles a.read_m-border_rd,
.node-type-survey .openlayers-popup-description div.links-to-profiles a.read_m-border_rd,
.node-type-line .openlayers-popup-description div.links-to-profiles a.read_m-border_rd
{
  position: static;
  margin-right: 10px;
}

/* ESTILS PER A LES DADES DELS PERFILS SÍSMIC I OCEANOGRÀFIC */
.node-type-line #map {
  margin-bottom: 10px;
}

#line-profiles {
  width: 695px;
  float: left;
  clear: left;
  margin-bottom: 25px;
}

#line-profiles #oceanographic-profile {
  margin-top: 28px;
}

#line-profiles .profile-header {
  padding: 6px 0 2px 10px;
  background: #606060; /* Old browsers */
  background: -moz-linear-gradient(top,  #606060 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606060), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #606060 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #606060 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #606060 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(top,  #606060 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bolder;
}

#line-profiles .profile-header span {
  padding-left: 18px;
  background: url(../images/read_more-bg.png) no-repeat left top;
}

#line-profiles .profile-img {
  margin-top: 10px;
}

#line-profiles .profile-img img {
  border: 1px solid #dcddde;
}

#line-profiles .profile-data {
  margin-top: 10px;
  padding: 20px 10px 5px;
  background: #ebf6f9;
}

#line-profiles .profile-data .col {
  width: 322px;
  float: left;
}

#line-profiles .profile-data .col-1{
  margin-right: 30px;  
}

#line-profiles .profile-data .field {
  margin-bottom: 8px;
  border-bottom: 1px solid #d1d3d4;
}

#line-profiles .profile-data .field-label {
  float: left;
  color: #2bd0f4;
  text-transform: uppercase;
  font-weight: normal;
}

#line-profiles .profile-data .col-1 .field-label {
  width: 125px;  
}

#line-profiles .profile-data .col-2 .field-label {
  width: 175px;  
}

#line-profiles #oceanographic-profile .profile-data .col-1 .field-label {
  width: 175px;
}

#line-profiles a.up {
  float: right;
  margin-top: 6px;
  padding-right: 25px;
  text-decoration: none;
  background: url(../images/scroll_up.png) no-repeat right top; 
}

/*
 * ESTILS PER A LA PÀGINA DE LINKS
 */
.view-links .views-field-title {
  margin: 0.5em 0;
}

/*
 * ESTILS PER A LA PÀGINA NEWS
 */
.view-news.view-display-id-default .views-field-title a {
  font-size: 1.1em;
  text-decoration: none;
  color: #2BD0F4;
}

.view-news.view-display-id-default .views-field-title a:hover {
  text-decoration: underline;
}

/*
 * ESTILS PER A LA PÀGINA D'UNA NOTÍCIA
 */
.page.node-type-news #content-area {
  border-top: 1px solid #ccc;
}

.node-type-news div.meta span.submitted {
  color: #a7a9ac;
}

.page.node-type-news #social {
  margin: 1.25em 0 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
}

.page.node-type-news #social div.fb-like {
  position: relative;
  bottom: 4px;
}

.page.node-type-news #print-and-mail {
  margin-top: 0.357em;
}

.page.node-type-news #print-and-mail span {
  margin: 0 0.357em 0 0;
}

.page.node-type-news #print-and-mail span img {
  vertical-align: bottom;
}

/*
 * ESTILS PER ALS PAGINADORS
 */
div.item-list .pager {
  float: right;
  margin-top: 0;
}

div.item-list .pager li {
  width: 1.072em;
  height: 1.072em;
  display: block;
  float: left;
  background: #f1f1f2;
  padding: 0;
  text-align: center;
}

div.item-list .pager li.pager-current {
  width: 1.25em;
  height: 1.25em;
  background-color: #dcddde;
  font-size: 0.857em;
  font-weight: normal;
}

div.item-list .pager li a {
  display: block;
  padding: 0;
  text-decoration: none;
}

div.item-list .pager li.pager-item a {
  font-size: 0.857em;
}

div.item-list .pager li:hover {
  background-color: #dcddde;
  transition: background-color 0.4s;
  -moz-transition: background-color 0.4s; /* Firefox 4 */
  -webkit-transition: background-color 0.4s; /* Safari and Chrome */
  -o-transition: background-color 0.4s; /* Opera */
}

div.item-list .pager li.pager-next, 
div.item-list .pager li.pager-previous
{
  background-color: #f65100;  
}

div.item-list .pager li.pager-next a, 
div.item-list .pager li.pager-previous a {
  font-size: 1.2em;
  line-height: 1em;
  color: #fff;
}

/*
 * ESTILS PER A LA PÀGINA DE CONTACTE
 */
#contact-mail-page .contact-form-content {
  padding: 20px 20px 30px;
  background-color: #ebf6f9;
}

#contact-mail-page .contact-form-content p {
  margin-top: 0;
  padding-bottom: 12px;
  border-bottom: 1px solid #d1d3d4;
  font-weight: bold;
}

#contact-mail-page .contact-form-content .form-item {
  width: 600px;
  float: left;
}

#contact-mail-page .contact-form-content .form-item label {
  width: 110px;
  float: left;
  text-align: right;
  font-weight: normal;
}

#contact-mail-page .contact-form-content .form-item input,
#contact-mail-page .contact-form-content .form-item textarea {
  border: 1px solid #d1d3d4;
}

#contact-mail-page .contact-form-content .form-item input,
#contact-mail-page .contact-form-content .form-item textarea {
  width: 375px;
}

#contact-mail-page .contact-form-content .form-item .resizable-textarea {
  width: auto;
  float: left;
}

#contact-mail-page .contact-form-content .form-item input,
#contact-mail-page .contact-form-content .form-item .resizable-textarea {
  margin-left: 15px;
}

#contact-mail-page .contact-form-content #accept-privacy-policy-wrapper label {
  width: auto;
  float: none;
}

#contact-mail-page .contact-form-content #edit-copy-wrapper label {
  float: none;
  font-size: 0.85em;
}

#contact-mail-page .contact-form-content #edit-copy-wrapper input {
  position: relative;
  top: 2px;
  margin-left: 126px;
}

#contact-mail-page .contact-form-content #edit-submit {
  float: right;
  clear: both;
  margin-top: 15px;
  margin-right: 65px;
  border: 0;
  -moz-border-radius: 8px;
  cursor: pointer;
  background-color: #f35200;
  border-radius: 8px;
  padding: 4px 28px;
  color: #fff;
  text-decoration: none;
}

#contact-mail-page .contact-form-content .form-required {
  //display: none;
}

/*
 * ESTILS DE LES PÀGINES D'ADMINISTRACIÓ
 */
.node-form .form-item {
  padding: 12px 6px;
  background-color: #eee;
}

.node-form fieldset {
  background-color: #eee;
}

.node-form fieldset.group-oceanographic-profile {
  background-color: transparent;
}

.node-form .fieldset-wrapper>.form-item {
  padding: 0;
  background-color: transparent;
}

.node-form .form-item .description {
  color: #050;
  font-size: 1em;
}

.node-form .form-text {
    width: auto;
}

/*
 * ESTILS PER A LA PÀGINA D'ADMINISTRACIÓ DE "FRONT_IMAGES"
 */
#content-area .view-admin-front-images .views-row {
  margin: 1.5em 0;
}

.view-admin-front-images .view-header {
  margin: 1.5em 0;
}

.view-admin-front-images .view-header a,
.view-admin-front-images .views-field-edit-node a, 
.view-admin-front-images .views-field-delete-node a 
{
  padding: 4px 12px;
  background-color: #EC7400;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
}

.view-admin-front-images .view-header a {
  font-weight: bold;
}

.view-admin-front-images .views-field-title {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.view-admin-front-images .views-field-field-front-image-fid {
  margin-bottom: 10px;
}

.view-admin-front-images .views-field-edit-node,
.view-admin-front-images .views-field-delete-node
{
  display: inline;
  margin-top: 10px;
  margin-right: 10px;
}