.front-slideshow {
	height: 250px;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}

#content-area .front-slideshow .views-row {
  position: relative;
  height: 250px;
}

.front-slideshow-text-wrapper {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}

.front-slideshow-transparency {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.front-slideshow-text {
	position: relative;
	padding: 8px 8px 15px;
	z-index: 20;
	color: #fff;
}

.front-slideshow-text h3 {
    margin: 0 0 4px;
    font-size: 1.05em;
    text-transform: uppercase;
}

.front-slideshow-text p {
    margin: 0;
    font-size: 0.82em;
    line-height: 1.28em;
}

/*
 * ANUL·LANT ESTILS DE LES VISTES PER AL VIEWS-SLIDESHOW
 */
#content-area .front-slideshow div.view-content {
  border-top: 0;
}

#content-area .front-slideshow .views-row {
  margin: 0;
  border-bottom: 0;
  padding-bottom: 0;
}
